.skills{
    height: 25rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #00193b;
}


 .swiperslide{
     text-align: center;
     /* font-size: 2rem; */

     /* Center slide text vertically */
     display: -webkit-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     justify-content: center;
     align-items: center;
     /* padding-top: 3rem; */
     /* padding-bottom: 10rem; */
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     -webkit-justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     -webkit-align-items: center;
     
     
    }
    
    .swiperslide svg{
        /* svg sizing */
        height: 15rem;
        width: 15rem;
        
    }