.home{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #21243e;
    padding: 5rem 3rem 3rem 3rem;
}

.homeright{
    /* background-color: ; */
    background-color: #1f2450;
    border: 1px solid rgb(194, 207, 197);
    width: 33rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
   
}

.homeright img{
    height: 13rem;
    width: 13rem;
    clip-path: circle(50%);
    background-color: #ade8f4;
    overflow: hidden;
    z-index: 1;
}

.homeright p {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 2rem 1rem 2rem;
    font-weight: 600;
    color: #c2cfc5;
}

h1,h2{
    font-size: 3rem;
    color: white;
    padding-left: 1rem;
    padding-bottom: 1rem;
}



@media screen and (max-width:900px){
    .home{
        display: flex;
        flex-direction: column;
    }
    .homeright{
        width: 15rem;
        /* padding-top: -10rem; */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .homeright img {
        height: 7rem;
        width: 7rem;
    }

    .homeright p {
        font-size: 1.5rem;
    }

    h1,h2{
        font-size: 1.5rem;
        text-align: center;
        padding-top: 2rem;
    }
}

@media screen and (max-width:1200px){
    h1,h2{
        font-size: 1.5rem;
    }
}