.navbar{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #21243e;
    z-index: 10;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    position: fixed;
  top: 0;
  width: 100%;
}

.navright1 ul{
    flex: 1;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    gap: 3rem;
 
}

.navright1 ul li{
    list-style: none;
    font-size: 1.8rem;
    
    display: inline-block;
    position: relative;
}

.navright1 ul li::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 2px;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

.navright1 ul li:hover:after{
    transform: scaleX(1);
    transform-origin: bottom center;
}


.navright1 ul li a{
    color: #c2cfc5;
}








@media screen and (min-width:900px){
    .navleft2{
        display: none;
    }
    .navright2{
        display: none;
    }

}

@media screen and (max-width:900px){    
    .navbar{
        width: 100%;
        position: fixed;
        top: 0;
        /* display: none; */
    }
    

    .navleft1{
        display: none;
    }
    .navright1{
        display: none;
    }
    
    .mobilenav ul {
        list-style: none;
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        column-gap: 2rem;
    }
    
    

}